<div class="home-container">
    <div class="jumbotron">
        <div class="row">
            <div class="col-lg-3 col-md-4">
                <div class="text-center">
                    <img alt="Angular2" class="img-responsive center-block home-logo" src="assets/img/01.jpg" />
                </div>
            </div>
            <div class="col-lg-9 col-md-8 home-text">
                <h3>City of Chandler SQL Server Database Management Center</h3>
                <p>Service + Cutting edge technology
                    <br> <small>Reliablity. Scalability & Performance.</small>
                </p>
                <p><a class="btn btn-primary btn-lg" href="https://angular.io/" target="_blank">Learn more</a></p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="panel b">
                <div class="panel-heading">
                    <h3>Windows Clusters</h3></div>
                <div class="panel-body">
                    Windows cluster 
                    Blabla
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel b">
                <div class="panel-heading">
                    <h3>COC Databases</h3></div>
                <div class="panel-body">
                    COC Databases 
                    Blabla
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel b">
                <div class="panel-heading">
                    <h3>COC Applications</h3></div>
                <div class="panel-body">
                    COC Applications
                    Blabla
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="panel b">
                <div class="panel-heading">
                    <h3>COC SQL SERVER JOBs</h3></div>
                <div class="panel-body">
                    COC SQL SERVER JOBs
                    Blabla
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel b">
                <div class="panel-heading">
                    <h3>COC SQL SERVER Users and Permissions</h3></div>
                <div class="panel-body">
                    COC SQL SERVER Users and Permissions
                    Blabla
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel b">
                <div class="panel-heading">
                    <h3>COC SQL Server Policy</h3></div>
                <div class="panel-body">
                    COC SQL Server Policy
                    Blabla
                </div>
            </div>
        </div>
    </div>
</div>